{% extends "_base.html" %}
{% block content %}
    {{ message }}
    <form action="/auth" method="post">
        <h4> Login Information </h4>
        <input class="name" name="name" type="text" placeholder="Enter Username" required=""/><br>
        <input class="pw" name="pw" type="password" placeholder="Enter Password" required=""/><br>
        <a href="/recovery">Forgot your password?</a><br>
        <a href="/signup">Sign up!</a><br>
        <input class="button" type="submit" value="Log in"/>
    </form><br>

    Your snippets:<br>
    {% for i in d_t %}
        {% for j in title %}
            {% for snippet in snippets %}
                {{ i, j, snippet|e }}<br>
            {% endfor %}
        {% endfor %}
    {% endfor %}


{% endblock %}