{% extends "_base.html" %}
{% block content %}
    {{ message }}
    <form action="/auth" method="post">
        <h4> Login Information </h4>
        <input class="name" name="name" type="text" placeholder="Enter Username" required=""/><br>
        <input class="pw" name="pw" type="password" placeholder="Enter Password" required=""/><br>
        <a href="/recovery">Forgot your password?</a><br>
        <a href="/signup">Sign up!</a><br>
        <input class="button" type="submit" value="Log in"/>
    </form><br>

    <h1>All snippets:</h1>
    <div style="background-color:black;color:white;padding:20px;">
        {% for j in snippets %}
            <h2> {{ j[1] }}</h2>
            <p>{{ j[2]|e }}</p>
        {% endfor %}
    </div>


{% endblock %}