{% extends "_base.html" %}
{%  block content %}
    {{ message }}
    <form action="/insert_new_password" method="post">
        <input type="text" name="name" value={{ login }} readonly><br>
        <input name="pw" , type="password" placeholder="Enter Password"/><br>
        <input name="pw-x" , type="password" placeholder="Repeat Password"/><br>
  <input class="button" type="submit" value="Change Password"/>
</form>

    headers: {{ headers }}<br> body: {{ body }}<br> data: {{ data }}<br>

{% endblock %}