{% extends "_base.html" %}
{% block content %}
<form action="/signup_db" method="post">
    <h4>Sign up Form</h4>>
    <input placeholder="Login" class="name" name="name" type="text" required=""><br>
    <input  placeholder="Password" class="pw" name="pw" type="password" required=""><br>
    <input  placeholder="Confirm Password" class="pw" name="pw" type="password" required=""><br>
    <select>

        {% for question in questions %}
            <option>{{ question[0] }}</option>
        {% endfor %}

    </select><br>
    <input name="answer", type="text" placeholder="Enter Answer"  required=""/><br>
    <input class="button" type="submit" value="sign up">
</form>

        {{ headers }} {{ body }} {{ data }}

{% endblock %}

